<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        {% include head/full.html %}
    </head>

    {% assign scrollSpyOffset = page.scrollSpyOffset | default: layout.scrollSpyOffset | default: 0 %}
    <body
        class="layout-{{ page.layout }}"
        data-spy="scroll"
        data-target="#page-toc"
        data-offset="{{ scrollSpyOffset }}"
    >
        {% include navigation.html %}
        {% include masthead.html %}

        <div class="cards-wrapper">
            {% for event in site.events %}
            <div class="card-container">
                <a href="{{ event.url }}">
                    <div class="card">
                        <p class="heading">{{ event.title }}</p>
                        <p class="para">{{ event.description }}</p>
                        <div class="overlay"></div>
                        <button class="card-btn">View</button>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        {% include footer/full.html %}
    </body>
</html>